<!doctype html>
<html lang="en">
<head>
	<title>Liikuntapaikat - Helsinki, Espoo, Vantaa, Kauniainen</title>
	<meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

	{% load staticfiles %}
	
	<!-- Leaflet and proj4 libraries -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.3/proj4.js"></script>
    
    <!-- MapBox -->
    <!-- <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css'/> -->
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
    
    <!-- Custom CSS -->
    <link href="{% static "liikuntaa/css/style.css" %}" rel="stylesheet">
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <!-- Some more CSS -->
    <link href="{% static "liikuntaa/scripts/leaflet-panel-layers-master/dist/leaflet-panel-layers.src.css" %}" rel="stylesheet">
    <link href="{% static "liikuntaa/scripts/leaflet-panel-layers-master/examples/icons.css" %}" rel="stylesheet">
    
    <!-- Page scripts, folder is under staticfiles -->
    <script src="{% static "liikuntaa/scripts/leaflet-panel-layers.src.js" %}"></script>
    <script src="{% static "liikuntaa/scripts/Leaflet.MakiMarkers.js" %}"></script>
    
    <!-- Leaflet Providers -->
    <script src="{% static "liikuntaa/scripts/leaflet-providers-master/leaflet-providers.js" %}"></script>
</head>

<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Lahiliikuntaa</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Jaksaa!</a></li>
            <li><a href="#">Lisätietoa</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <div id="map" class="map"></div>
    <!-- /#page-content-wrapper -->
    
    <script src="{% static "liikuntaa/scripts/map.js" %}"></script>
    

</body>

</html>